*,
*::after,
*::before {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  /* user-select: none; */
}

body {
  background-color: rgb(32, 31, 36);
  color: white;
}

.error-message-wrapper {
  position: relative;
  z-index: 1;
}

.error-message {
  position: relative;
  margin: 0 auto;
  margin-top: 10%;
  background-color: rgb(59, 59, 59);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 20px;
  max-width: 400px;
  text-align: center;
  opacity: 0;
  transition: all 0.5s linear;
}

/* .error-message:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 410px;
  height: 70px;
  background-color: red;
  border-radius: 10px 10px 10px;
  z-index: -1;
  animation: spin 2s linear infinite;
} */

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.active {
  opacity: 1;
  transition: all 0.5s linear;
}

/* main */

.main {
  margin: 0 auto;
  max-width: 1440px;
}

.section-todo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  margin-top: 10%;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.section-todo__title {
  font-size: 56px;
  margin-bottom: 20px;
}

.section-todo__input {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.section-todo__button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  color: white;
  background-color: rgb(130, 168, 238);
  cursor: pointer;
}

.section-todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  color: black;
  margin-bottom: 20px;
}

.done-task {
  text-decoration: line-through;
}

.todo-button__done,
.todo-button__remove {
  padding: 10px;
  border: none;
}

.todo-button__done {
  background-color: green;
  color: white;
  cursor: pointer;
}
.todo-button__remove {
  background-color: rgb(163, 0, 0);
  color: white;
  cursor: pointer;
}
